<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweets</title>
</head>
<body>
    <h2>This is Tweets page</h2>

    <!-- Post new tweet -->
    <div>
        <form id="newTweet" style="margin-bottom: 2rem;">
            <textarea type="textarea" rows="4"  id="textContent" placeholder="Type something..."></textarea> <br>
            <input type="submit" value="Submit">
        </form>
    </div>

    <!-- display logged in user -->
    <div>
        <i>show current logged in user here</i>
    </div>
    <!-- Display all tweerts -->
    <div>
        <% tweetsAndUserObj.resultData.forEach(function(tweet) { %>
            <li style="margin-bottom: 2rem;">
                <strong><%= tweet.author.UserName %></strong> <br>
                <%= tweet.textContent %> <br>
                Likes: <%= tweet.likes %> <br>
                <button onclick="likeEvent(event)"  id="likeBtn" value = <%= tweet._id %> >Like</button>
            </li>
        <% }); %>
    </div>

      <script>

        // Create tweet event
        const formElement = document.querySelector('#newTweet');
        formElement.addEventListener('submit', async (e) => {
            e.preventDefault();
            const userEnteredTextContent = document.querySelector('#textContent').value;

            const result =  await fetch('/Tweets', {
                method: 'POST',
                headers:{
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    textContent: userEnteredTextContent,
                })
            }).then((res)=> res.json())


        })






          // Tweet like event
          const likeEvent = async(event) => {
            
            const result = await fetch('/Tweets/liked/'+event.target.value, {
                method: 'PATCH'
                // body: JSON.stringify({
                //     _id :event.target.value
                // })
            }).then((res)=> res.json())
            window.location.reload();
          }
      </script>
</body>
</html>